node_modules
misc/coverage.html
misc/prof.js
v8.log
tmp
*.txt
*.csv
*.dif
*.prn
*.slk
*.socialcalc
*.xls
*.xlsb
*.xlsm
*.xlsx
*.xlsm
*.xlsb
*.xml
*.htm
*.html
*.sheetjs
package-lock.json

lab/
test_files
example.js
example2.js
.idea
